
<div class="mat-elevation-z8">
  <button mat-button color="accent" type="button" (click)="get()">GET</button>
  <button mat-raised-button color="accent" color="accent" type="button" (click)="post()">POST</button>

  <table style="width: 100%;" [dataSource]="categorys" mat-table>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th class="mat-header" mat-header-cell *matHeaderCellDef>
        Ações
      </th>
      <td mat-cell *matCellDef="let row">
        <a class="edit" href="#">
          <i class="material-icons">edit</i>
        </a>
        <a class="delete" href="#">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

