* {
  margin: 0;
}
section {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

h1 {
  margin-bottom: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
